
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
/* Set up for everything */
* {
    font-family: 'Playfair Display', sans-serif;
}


body{
    max-width: 1300px;
    margin:0 auto;
    /* background-color:#2B4162 ; */
    background-color: #2B4162;

}
/* General header */

header {
    display:grid;
    grid-template-columns: 2fr 1fr;
    background-color:#D7B377 ;
    border-radius: 1rem;
    margin: 10px 10px 0 10px;
    padding:15px 15px 0px 15px;
    grid-gap:20px;
}

/* focusing on the leftmost part of header */

#logoName{
    display:flex;
    border-right: 2px solid rgba(0,0,0,.3);
}

#logoName img{
    width:100px;
    height:100px;
}

#logoName p{
    padding-top:1.75rem;
}

header p span{
    font-weight: bold;
    font-size: .9rem;

}



/* working on the right side header placement*/

#rightSideHeader{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

#socialMedia {
    grid-column: 1/2;
    
}



/* Working on social media tags */

#socialMedia img{
    padding-top:2.1rem;
    width:25px;
    height:auto;
    padding-left:0px;
    margin-left:2px;
    border:0px;
}



/* working on navigational portion of right side */
.ham{
    padding-top:2.1rem;
    text-align: center;
    display:block;
    font-size:1.5em;
    font-weight: 500;
    text-decoration: none;
    color: black; 
}


#navContainer {
    grid-column: 1/3;
    text-align: center;
}

nav{
    border-top:1px solid black;
    padding-top: 10px;
    display:grid;
}

nav a{
    padding: 2.5px;
    text-decoration: none;
    color:black;
}

nav a:hover {
    background-color: #2B4162;
    color:white;
}




/*end to nav code*/

/* Working on final div to hold current date */
header div p{
    padding-top:1em;
    font-weight: bold;
    font-size: 1.15rem;
    margin:0px;
    text-align: left;

}

#today{
    background-color: rgba(0,0,0,.2);
    grid-column: 1/3;
    padding: 5px;
    margin:5px 5px 10px 5px;
    border-radius: 5px;
    text-align: center;
}



/* working on the main grid layout */


main section{
    background-color: #D7B377;
    padding: 3px;
    margin: 5px;
    min-height: 150px;
    max-height: 300px;
    border-radius: 1em;

}

main section h2{
    color:#2B4162;
    text-align: center;
    text-shadow: 1px 1px grey;
}


#Hero {
    position: relative;
    overflow: hidden;
    background-color: #2B4162;
    border-radius: 1.5em;
    max-height: 230px;
    margin: 0 5px 5px 5px;
}

#Hero img {
    background-color: #2B4162;
    margin:0;
    height:100%;
    background-image: none;
    margin-top:4px;
    
}



#Hero button{
    background-color: #D7B377;
    padding: 10px 5px;
    border:1px solid black;
    border-radius: 8px;
    position:absolute;
    bottom:10px;
    right:10px;
    font-size: 1.5em;
}


#Event * {
    text-align: center;
}

/* #Event h2{
    color:#2B4162;
    text-shadow: 1px 1px grey;
    
} */

#Event p:first-of-type{
    font-weight: bold;
}

#Event p span {
    font-weight: bolder;
    font-size:1.1em;
    text-shadow: 1px 1px grey;
    color:#2B4162;
}

#Join {
    display:none;
}

#Weather {
    display:grid;
    grid-template-columns: 1fr 1fr;
    max-width: 65%;
    margin:0 auto;
    text-align: center;
}

#Weather h2{
    grid-column: 1/3;
}

#Weather img{
    background-color: #D7B377;
    /* mix-blend-mode: multiply; */
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    grid-column: 1/2;
    margin: 0 auto;
    width:80%;

}

#Weather p{
    padding:0;
    margin:0;
}

#Weather #temperature {
    grid-column: 2/3;
    margin: auto auto;
    font-size: 2em;
}

#Weather #weatherDiscription {
    grid-column:1/3;
    border-bottom:1px solid black;
    padding: 6px 0px;
    margin: 0 auto;
}

#Weather #windSpeed {
    grid-column:1/3;
    margin: 10px 0 0 0;
}
#Weather #windChill {
    grid-column:1/3;
}

#NewRelease p{
    text-align: center;
}


#Spotlights{
    max-height: 600px;
}

#Spotlights div p {
    text-align: center;
    font-size: .8em;
    padding:0;
    margin:0;
}

#Spotlights div {
    border: 3px solid black;
    height: auto;
    padding: 10px 0px;
}

#Spotlights div:nth-child(1) {
    margin:10px 5px 5px 5px;
}

#Spotlights img{
    display:block;
    height:40px;
    width:auto;
    margin-left:auto;
    margin-right:auto;
}

#Spotlights div p:nth-child(3) {
    margin:0 auto;
    font-size:1em;
    text-align: center;
    border-bottom: 1px solid black;
    width:70%;
    padding: 10px 0px;
}


#Spotlights div:nth-child(2) {
    margin:5px 5px 10px 5px;
}

#Spotlights div:nth-child(3) {
    display: none;
}


#Join button{
    display: block;
    margin-top: 15px;
    margin-left:auto;
    margin-right:auto;
    padding:20px 10px;
    background-color: #2B4162;
    color:#D7B377;
    width:90%;
    border:1px solid black;
    border-radius: 1em;
}

#Join p{
    margin-top:40px;
    text-align: center;
}


main section p{
    margin-top:8px;
    margin-left:8px;
}

main button {
    cursor: pointer;
}

/* Looking at the main for the discover page only */




main#dis_main {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    column-gap: 80px;
    row-gap: 80px;
}

main#dis_main section {
    background-color: #2B4162;
    margin:0px;
    border:0px;
    padding: 0px;
    overflow: hidden;
    height: 450px;
    width: 350px;
    max-height: 450px; 
    border-radius: 0;  
}

h2#Days {
    color: white;
    text-align: center;
}

main#dis_main img {
    display:block;
    margin: 25px auto;
    height:80%;
    
}

main#dis_main section p {
    color:white;
    margin:0px;
    display:block;
    text-align: center;
}


/* Looking at the join page only */

main#join h1 {
    color: white;
    text-align: center;
}

main#join form {
    display:flex;
    flex-direction: column;
    color: white;
}

main#join form fieldset{
    margin-bottom: 1rem;
    color: #D7B377;
}

main#join form fieldset label{
    color: white;
}

main#join form label.top {
    display: block;
    padding-top: 1rem;
}

form label.top input, form textarea {
    display: block;
    border-radius: 8px;
    padding: .75rem;
    width: 90%;
    max-width: 20rem;
    border: 0px;
}

form label.sbs {
    display: block;
    padding: .75rem 0;
}


main#join form .datetime {
    display:none;
}

main#join form fieldset label span{
    color:#D7B377;
}

form .submitBtn {
    color: #2B4162;
    background-color: #D7B377;
    padding: .75rem;
    width: 80%;
    margin: 0 auto;
    border-radius: .75rem;
    font-weight: bolder;
    font-size: 1.2rem;
    margin-bottom: 100px;
    border:0px;
}
form .submitBtn:hover {
    cursor: pointer;
}

main#join form table {
    display:none;
}

main#join .membership{
    background-color: #2B4162;
    padding:0;
    margin:0;
    min-height: 0;
    max-height: none;
    border-radius: 0;
}

/* looking at the thank you page */
main#thanks {
    display: flex;
    flex-direction: column;
}

main#thanks h1, main#thanks p {
    display: block;
    color: white;
    text-align: center;
}


/* looking at the directory page */
main#directory {
    display:block;
}

main#directory h2{
    color:#D7B377;
    padding:0;
    margin:10px 0;
    text-align: center;
}

main#directory div.icons{
    display:flex;
    justify-content: center;
    grid-gap: 15px;
}

main#directory i {
    color: white;
    display: block;
    text-align: center;
    text-decoration: none;
}
main#directory i:hover {
    cursor: pointer;
}

main#directory a {
    text-decoration: none;
}






main#directory div.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main#directory div.cards section img{
    max-width: 150px;
    /* max-height: auto; */
    display: block;
    margin: 0 auto;
}

main#directory div.cards section{
    background-color: #D7B377;
    padding: 15px;
    Margin: 15px;
    text-align: center;
    width: 350px;
    height: 250px;
    min-height:0px;
    box-shadow: 5px 5px 8px 5px #90A9B7;
    position: relative;
}



main#directory div.cards section div {
    position: absolute;
    bottom: 10px;
    width: 100%;
    left:0;
}



main#directory div.cards section a:visited {
    color:rgb(48, 66, 18);
}

main#directory div.cards section a, main#directory div.cards section p {
    color:black;
    padding:5px;
    margin:0;
    text-decoration: none;
}

/* ------------------------------ */
main#directory div.table{
    display: flex;
    flex-direction: column;
}

main#directory div.table section{
    display: flex;
    flex-direction: column;
    background-color: #2B4162;
    color:white;
    font-weight: bolder;
    text-align: center;
    min-height:0;
    height:auto;
    width:95%;
    margin: 0 auto;
    border-radius: 0;
    padding:0;
}

main#directory div.table section:nth-child(odd){
    background-color: #90A9B7;
    color:black;
}

main#directory div.table section p{
    padding:2.5px;
    /* height: 10px; */
    margin:auto 0;
}

main#directory div.hide {
    display:none;
}

/* looking at the footer layout of the page */

footer{
    background-color:#D7B377 ;
    border-radius: 1rem;
    margin: 10px;
    text-align: center;
}



footer div:nth-child(2){
    border-bottom: 2px solid rgba(0,0,0,.3);
}

footer div p{
    margin:0px;
}

footer div:nth-child(2) p{
    margin:5px;
}
footer div:nth-child(3){
    padding-top:15px;
    padding-bottom:15px;
}
footer div:nth-child(3) ul{
    padding:0px;
    margin:0px;
}

#mapIcon{
    padding:0px;
    display:flex;
    justify-content: center;
    padding-bottom:10px;
}


/* optional banner for monday and tuesday */

#banner {
    max-width: 80%;
    margin: 0 auto;
}

#banner p {
    margin:0;
    padding:10px 0px;
    text-align: center;
    font-weight: bolder;
    background-color: #90A9B7;
    border-radius: 1rem;
}