@media screen and (min-width:48em){
    nav ul{
        display: flex;
        list-style-type: none;
        justify-content: space-evenly;
        background-color: #D7B377;
        border-radius: 1rem;
        margin-top: 1rem;
    }

    #personas section {
        padding:0px;
        margin:0px;
    }

    #personas {
        max-width:90%;
        grid-template-columns: 1fr 1fr;
        margin-left: auto;
        margin-right: auto;
        
    }

    #personas section{
        
        padding: 1rem;
  
    }

    #personas section:first-child{
        
        border-right:solid 3px #90A9B7;
  
    }

}